.product-tile{
    display: inline-block;
    max-width: 300px;
    border: antiquewhite;
    border-radius: 3px;
}

.product-image{
    max-width: 300px;
    align-content: center;
}

.product-name{
    text-align: center;
}

.product-price{
    text-align: center;
}