main {
    text-align: center;
}

h4.utc-time {
    color: #3771A1;
}

.server-time {
    font-size: 2em;
    color: red;
}

#site_left { // the div id, not the block
    background-color: lightseagreen;
}

#site_center { // the div id, not the block
    background-color: white;
}

#site_right { // the div id, not the block
    background-color: lightskyblue;
}


