## this is the skeleton of all pages on in this app - it defines the basic html tags
<%inherit file="/homepage/templates/base.htm" />


<%block name="site_left">
    <div>
        <ul class="ul">
            <li>
                <a class="white" href="/catalog/index/1">Piano</a>
            </li>
            <li>
                <a class="white" href="/catalog/index/2">Guitar</a>
            </li>
            <li>
                <a class="white" href="/catalog/index/3">Bagpipes</a>
            </li>
            <li>
                <a class="white" href="/catalog/index">All Products</a>
            </li>
        </ul>
    </div>
</%block>
