<%inherit file="app_base.htm" />

<%block name="title">Home</%block>

<%block name="content">
    <div class="content">
      <h3>Congratulations -- you've successfully created a new django-mako-plus app!</h3>
      <h4>Next Up: Go through the django-mako-plus tutorial and add Javascript, CSS, and urlparams to this page.</h4>
      <p class="server-time">The current server time is ${ now }.</p>
      <button id="server-time-button">Refresh Server Time</button>
      <p class="browser-time">The current browser time is .</p>
    </div>
</%block>


<%block name="site_center">
<center>
Welcome to our Website!  We specialize in python tips and tricks.  Hopefully you read latin ;)</center><br>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita maxime, ex omnis incidunt fuga cumque. Consequatur aliquam aliquid vitae! Officiis omnis et laborum provident quidem autem molestiae delectus inventore molestias!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, temporibus? Corrupti at dolorem quam consequuntur voluptatum fuga debitis illum doloribus perferendis enim? Assumenda qui amet ducimus officia. Explicabo, quasi consectetur!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur natus, cumque quisquam ad quidem dolor sit hic possimus vitae minus sed vel facere autem ut aut explicabo atque ipsam? Harum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, pariatur consectetur praesentium, cum qui fugiat perspiciatis deleniti, temporibus maxime fugit nihil delectus minus distinctio impedit incidunt sequi. Incidunt, debitis at!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sunt nostrum, neque mollitia vitae consectetur, officiis fuga adipisci laborum officia molestiae magnam enim culpa dignissimos magni excepturi laudantium deleniti harum?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, deserunt! Dolores hic qui amet vitae voluptates cumque eos suscipit ratione consequatur recusandae natus dolorum officia, consequuntur harum? Sint, repellendus non.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, a molestias, dolorem distinctio sed recusandae blanditiis beatae neque repellendus commodi, doloribus fuga at dicta error harum quo quis debitis dolorum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic commodi ullam, quisquam sint doloremque laudantium aliquam provident. Exercitationem tenetur, blanditiis natus consectetur, non, consequatur rerum odit nesciunt enim quasi voluptatum?
</%block>

<%block name="site_right">Right side</%block>